<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Azure</title>
</head>
<body>
<h1>HN</h1>
<form action="/createtable" method="post" enctype="multipart/form-data">
                  Azure:
                  <input type="submit" value="Create and Insert"> 
          </form>
          <form action="/querydatabase" method="post" enctype="multipart/form-data">
          Enter calories low and high
                  <input type="text" name=text1>
                  <input type="text" name=text2>
                  <input type="submit" value="Query"> 
          </form>
          <form action="/querydatabase2" method="post">
          Enter ingredient :
          <input type="text" name=text3>
          <input type="submit" name=submit>
          </form>
          <form action="/query3" method="post" enctype="multipart/form-data">
                  Show snack
            <input type="text" name=text3>
            <input type="text" name=text1>
            <input type="text" name=text2>
            <input type="submit" value="Query"> 
          </form>

</body> 
</html>